/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base style */

html {
  font-size: 1.25em;/* 20/16 = 1.25*/
  line-height: 1.3em; /* 26/20 = 1.3*/
  font-family: "Times New Roman", Times, serif;
}

body {
  padding-top: 4em; /* 80/20 = 4 */
  padding-left: 1em; /* 20/20 = 1*/
  padding-right: 1em; /* 20/20 = 1*/
  background-color: #f2efe8;
}


h3,
p,
ul {
  padding-top: 1.3em; /* 26/20 = 1.3*/
}

h1 {
  font-size: 2.35em; /* 47/20 =2.35 */
  line-height: 1.1064em; /* 52/47=1.1064 */
  padding-top: 0.5532em; /* 26/47=0.5532*/
}

h2 {
  font-size: 1.8em; /* 36/20=1.8 */
  line-height: 1.4444em; /* 52/36=1.4444 */
  padding-top: 0.7222em; /* 26/36= 0.7222*/
}

h3 {
  font-size: 1em; /* 20/20 = 1 */
  line-height: 1.3em; /* 26/20=1.3 */
}


ul {
  list-style-type: circle;

}

li {
  padding-left: 1.25em; /* 25/20 = 1.25*/

}

li li:last-child {
  padding-bottom: 1.3em; /* 26/20 = 1.3*/

}

li ul {
  list-style-type: square;
  padding-bottom: 1.3em; /* 26/20 = 1.3*/
}

footer {
  background-color: #dbe9d8;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
}



/* Layout style */

#menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 0.55555555555em; /* 10/18 0.55555555555 */
  background-color: #c2d4d8;
}

#menu li {
  float: left;
  width: 33.3333333333%;
  background-color: #dbe9d8;
}

#menu a {
  text-decoration: none; /* get rid of underlines */
  display: block;
  text-align: center;
  width: 100%;
  color: black;
  padding-top: 0.65em; /* 13/18 = 0.72222222222 */
  padding-bottom: 0.65em; /* 13/18 = 0.72222222222 */
}

/* Modular style */
#menu ul,
#menu li {
  list-style-type: none; /* get rid of bullet points*/
  padding: 0;
}

/* Responsive media */
img {
  display: block;
  max-width: 100%;
}

#menu a:hover {
  background-color: #c2d4d8;
}

#menu a.changecolor {
  background-color: #c2d4d8;
}

/* State styles */

@media screen and (min-width: 375px){
  body {
    padding-right: 11.733333333%; /* 44 / 375 = 0.10476190476 */
    padding-left: 11.733333333%; /* 44 / 375 = 0.10476190476 */
  }
}

@media screen and (min-width: 640px){
  .flexbox #picturecontainer{
    display: flex;
    flex-flow: row wrap;
  }
.flexbox #two,
.flexbox #three{
    flex: 1 50%;

}
}

@media screen and (min-width: 990px){
  body {
    padding-right: 9.595959595em; /* 95/990 = 0.09595959595*/
    padding-left: 9.595959595em;
  }
  .flexbox #picturecontainer{
    display: flex;
    flex-flow: row wrap;
  }
.flexbox #two,
.flexbox #three{
    flex: 1 50%;

}

}
