/* Begin site style below */

/* Base style */

/* Setting type with a modular scale */

/* Responsive media */
img {
display: block;
max-width: 100%;
}
/* Layout style */
#menu a {
  text-decoration: none;
}

/* Modular style */
#menu ul,
#menu li{
  list-style-type: none;
}

/* State styles */
